.tdl-mega-menu-options {
	margin-top: 10px;
}

.field-megamenu-status,
.field-megamenu-width,
.field-megamenu-columns,
.field-megamenu-columnwidth,
.field-megamenu-title,
.field-megamenu-widgetarea,
.tdl-megamenu-upload-thumbnail.button-primary,
.field-megamenu-icon,
.field-megamenu-thumbnail,
.tdl-megamenu-thumbnail-image {
	display: none;
}

.menu-item-depth-0 .field-megamenu-status,
.menu-item-depth-0.tdl-megamenu .field-megamenu-width,
.menu-item-depth-0.tdl-megamenu .field-megamenu-columns,
.menu-item-depth-1.tdl-megamenu .field-megamenu-columnwidth,
.menu-item-depth-1.tdl-megamenu .field-megamenu-title,
.menu-item-depth-1.tdl-megamenu .field-megamenu-widgetarea,
.menu-item-depth-2.tdl-megamenu .field-megamenu-widgetarea,
.tdl-megamenu .field-megamenu-icon,
.tdl-megamenu .field-megamenu-thumbnail {
	display: block;
}

.menu-item-depth-1.tdl-megamenu.tdl-megamenu-fullwidth .field-megamenu-columnwidth {
	display: none;
}

.tdl-megamenu .tdl-megamenu-upload-thumbnail {
	display: inline-block;
}

.tdl-megamenu-thumbnail-image {
	max-width: 300px;
}

.menu-item-depth-0 .tdl-megamenu-upload-thumbnail,
.menu-item-depth-1 .tdl-megamenu-upload-thumbnail,
.menu-item-depth-2 .tdl-megamenu-upload-thumbnail {
	margin-top: 0 !important;
}

.tdl-megamenu-upload-thumbnail {
	margin-top: 0.6em !important;
}